<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Udemy_Cucumber">
    <test name="Cucumber Tests" junit="true">
        <classes>
            <class name="Runner_Tests.Runner_login"/>
            <class name="DriverFactory.Runner.Runner_login2"></class>
        </classes>
    </test>
</suite>

